In [114]:
import numpy as np
import pandas as pd
import env
from pydataset import data
import os
import acquire

4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

- print the first 3 rows
- print the number of rows and columns (shape)
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables

In [115]:
df_iris = data('iris')

In [116]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [117]:
df_iris.shape

(150, 5)

In [118]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [119]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [120]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [121]:
print(df_iris['Species'].unique())

['setosa' 'versicolor' 'virginica']

### 5. Read the data from this google sheet into a dataframe, df_google.

- print the first 3 rows
- print the number of rows and columns
- print the column names
- print the data type of each column
- print the summary statistics for each of the numeric variables
- print the unique values for each of your categorical variables

In [122]:
goog_sheet = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = goog_sheet.replace('/edit#gid=', '/export?format=csv&gid=')
df_google = pd.read_csv(csv_export_url,index_col=0)
df_google

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [123]:
df_google.head(3)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [124]:
df_google.shape

(891, 11)

In [125]:
df_google.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [126]:
df_google.dtypes

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [127]:
df_google.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [128]:
print(df_google['Sex'].unique())
print(df_google['Embarked'].unique())

['male' 'female']
['S' 'C' 'Q' nan]

In [129]:
df_excel = pd.read_excel('/Users/jer/Desktop/CodeUp-other/Data/train.xlsx')

In [130]:
df_excel_sample = df_excel.head(100)

In [131]:
# num rows
df_excel.shape[0]

891

In [132]:
df_excel.columns[0:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [133]:
df_excel.select_dtypes('O').columns
#df_excel.loc[:,df.dtypes=='O'].describe()

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [134]:
intrange = pd.DataFrame(df_excel.select_dtypes('int'))
intrange

     PassengerId  Survived  Pclass  SibSp  Parch
0              1         0       3      1      0
1              2         1       1      1      0
2              3         1       3      0      0
3              4         1       1      1      0
4              5         0       3      0      0
..           ...       ...     ...    ...    ...
886          887         0       2      0      0
887          888         1       1      0      0
888          889         0       3      1      2
889          890         1       1      0      0
890          891         0       3      0      0

[891 rows x 5 columns]

### Make a new python module, acquire.py to hold the following data aquisition functions:

1. Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [135]:
titanic_db = 'titanic_db.csv'
if os.path.exists(titanic_db):
    df = pd.read_csv(titanic_db, index_col=0)
else:
    df = acquire.get_titanic_data('titanic_db')
    df.to_csv(titanic_db, index=False)

2. Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

In [136]:
iris_db = 'iris_db.csv'
if os.path.exists(iris_db):
    df = pd.read_csv(iris_db, index_col=0)
else:
    df = acquire.get_iris_data('iris_db')
    df.to_csv(iris_db, index=False)

In [137]:
telco_db = 'telco_db.csv'
if os.path.exists(telco_db):
    df = pd.read_csv(telco_db, index_col=0)
else:
    df = acquire.get_telco_data('telco_churn')
    df.to_csv(telco_db, index=False)

### 1. Use the function defined in acquire.py to load the iris data.

In [138]:
iris = acquire.get_iris_data('iris_db')

In [139]:
iris

,species_id,species_name,measurement_id,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,1,5.1,3.5,1.4,0.2
1,1,setosa,2,4.9,3.0,1.4,0.2
2,1,setosa,3,4.7,3.2,1.3,0.2
3,1,setosa,4,4.6,3.1,1.5,0.2
4,1,setosa,5,5.0,3.6,1.4,0.2
5,1,setosa,6,5.4,3.9,1.7,0.4
6,1,setosa,7,4.6,3.4,1.4,0.3
7,1,setosa,8,5.0,3.4,1.5,0.2
8,1,setosa,9,4.4,2.9,1.4,0.2
9,1,setosa,10,4.9,3.1,1.5,0.1
10,1,setosa,11,5.4,3.7,1.5,0.2
11,1,setosa,12,4.8,3.4,1.6,0.2
12,1,setosa,13,4.8,3.0,1.4,0.1
13,1,setosa,14,4.3,3.0,1.1,0.1
14,1,setosa,15,5.8,4.0,1.2,0.2
15,1,setosa,16,5.7,4.4,1.5,0.4
16,1,setosa,17,5.4,3.9,1.3,0.4
17,1,setosa,18,5.1,3.5,1.4,0.3
18,1,setosa,19,5.7,3.8,1.7,0.3
19,1,setosa,20,5.1,3.8,1.5,0.3
20,1,setosa,21,5.4,3.4,1.7,0.2
21,1,setosa,22,5.1,3.7,1.5,0.4
22,1,setosa,23,4.6,3.6,1.0,0.2
23,1,setosa,24,5.1,3.3,1.7,0.5
24,1,setosa,25,4.8,3.4,1.9,0.2
25,1,setosa,26,5.0,3.0,1.6,0.2
26,1,setosa,27,5.0,3.4,1.6,0.4
27,1,setosa,28,5.2,3.5,1.5,0.2
28,1,setosa,29,5.2,3.4,1.4,0.2
29,1,setosa,30,4.7,3.2,1.6,0.2
30,1,setosa,31,4.8,3.1,1.6,0.2
31,1,setosa,32,5.4,3.4,1.5,0.4
32,1,setosa,33,5.2,4.1,1.5,0.1
33,1,setosa,34,5.5,4.2,1.4,0.2
34,1,setosa,35,4.9,3.1,1.5,0.2
35,1,setosa,36,5.0,3.2,1.2,0.2
36,1,setosa,37,5.5,3.5,1.3,0.2
37,1,setosa,38,4.9,3.6,1.4,0.1
38,1,setosa,39,4.4,3.0,1.3,0.2
39,1,setosa,40,5.1,3.4,1.5,0.2
40,1,setosa,41,5.0,3.5,1.3,0.3
41,1,setosa,42,4.5,2.3,1.3,0.3
42,1,setosa,43,4.4,3.2,1.3,0.2
43,1,setosa,44,5.0,3.5,1.6,0.6
44,1,setosa,45,5.1,3.8,1.9,0.4
45,1,setosa,46,4.8,3.0,1.4,0.3
46,1,setosa,47,5.1,3.8,1.6,0.2
47,1,setosa,48,4.6,3.2,1.4,0.2
48,1,setosa,49,5.3,3.7,1.5,0.2
49,1,setosa,50,5.0,3.3,1.4,0.2
50,2,versicolor,51,7.0,3.2,4.7,1.4
51,2,versicolor,52,6.4,3.2,4.5,1.5
52,2,versicolor,53,6.9,3.1,4.9,1.5
53,2,versicolor,54,5.5,2.3,4.0,1.3
54,2,versicolor,55,6.5,2.8,4.6,1.5
55,2,versicolor,56,5.7,2.8,4.5,1.3
56,2,versicolor,57,6.3,3.3,4.7,1.6
57,2,versicolor,58,4.9,2.4,3.3,1.0
58,2,versicolor,59,6.6,2.9,4.6,1.3
59,2,versicolor,60,5.2,2.7,3.9,1.4
60,2,versicolor,61,5.0,2.0,3.5,1.0
61,2,versicolor,62,5.9,3.0,4.2,1.5
62,2,versicolor,63,6.0,2.2,4.0,1.0
63,2,versicolor,64,6.1,2.9,4.7,1.4
64,2,versicolor,65,5.6,2.9,3.6,1.3
65,2,versicolor,66,6.7,3.1,4.4,1.4
66,2,versicolor,67,5.6,3.0,4.5,1.5
67,2,versicolor,68,5.8,2.7,4.1,1.0
68,2,versicolor,69,6.2,2.2,4.5,1.5
69,2,versicolor,70,5.6,2.5,3.9,1.1
70,2,versicolor,71,5.9,3.2,4.8,1.8
71,2,versicolor,72,6.1,2.8,4.0,1.3
72,2,versicolor,73,6.3,2.5,4.9,1.5
73,2,versicolor,74,6.1,2.8,4.7,1.2
74,2,versicolor,75,6.4,2.9,4.3,1.3
75,2,versicolor,76,6.6,3.0,4.4,1.4
76,2,versicolor,77,6.8,2.8,4.8,1.4
77,2,versicolor,78,6.7,3.0,5.0,1.7
78,2,versicolor,79,6.0,2.9,4.5,1.5
79,2,versicolor,80,5.7,2.6,3.5,1.0
80,2,versicolor,81,5.5,2.4,3.8,1.1
81,2,versicolor,82,5.5,2.4,3.7,1.0
82,2,versicolor,83,5.8,2.7,3.9,1.2
83,2,versicolor,84,6.0,2.7,5.1,1.6
84,2,versicolor,85,5.4,3.0,4.5,1.5
85,2,versicolor,86,6.0,3.4,4.5,1.6
86,2,versicolor,87,6.7,3.1,4.7,1.5
87,2,versicolor,88,6.3,2.3,4.4,1.3
88,2,versicolor,89,5.6,3.0,4.1,1.3
89,2,versicolor,90,5.5,2.5,4.0,1.3
90,2,versicolor,91,5.5,2.6,4.4,1.2
91,2,versicolor,92,6.1,3.0,4.6,1.4
92,2,versicolor,93,5.8,2.6,4.0,1.2
93,2,versicolor,94,5.0,2.3,3.3,1.0
94,2,versicolor,95,5.6,2.7,4.2,1.3
95,2,versicolor,96,5.7,3.0,4.2,1.2
96,2,versicolor,97,5.7,2.9,4.2,1.3
97,2,versicolor,98,6.2,2.9,4.3,1.3
98,2,versicolor,99,5.1,2.5,3.0,1.1
99,2,versicolor,100,5.7,2.8,4.1,1.3
100,3,virginica,101,6.3,3.3,6.0,2.5
101,3,virginica,102,5.8,2.7,5.1,1.9
102,3,virginica,103,7.1,3.0,5.9,2.1
103,3,virginica,104,6.3,2.9,5.6,1.8
104,3,virginica,105,6.5,3.0,5.8,2.2
105,3,virginica,106,7.6,3.0,6.6,2.1
106,3,virginica,107,4.9,2.5,4.5,1.7
107,3,virginica,108,7.3,2.9,6.3,1.8
108,3,virginica,109,6.7,2.5,5.8,1.8
109,3,virginica,110,7.2,3.6,6.1,2.5
110,3,virginica,111,6.5,3.2,5.1,2.0
111,3,virginica,112,6.4,2.7,5.3,1.9
112,3,virginica,113,6.8,3.0,5.5,2.1
113,3,virginica,114,5.7,2.5,5.0,2.0
114,3,virginica,115,5.8,2.8,5.1,2.4
115,3,virginica,116,6.4,3.2,5.3,2.3
116,3,virginica,117,6.5,3.0,5.5,1.8
117,3,virginica,118,7.7,3.8,6.7,2.2
118,3,virginica,119,7.7,2.6,6.9,2.3
119,3,virginica,120,6.0,2.2,5.0,1.5
120,3,virginica,121,6.9,3.2,5.7,2.3
121,3,virginica,122,5.6,2.8,4.9,2.0
122,3,virginica,123,7.7,2.8,6.7,2.0
123,3,virginica,124,6.3,2.7,4.9,1.8
124,3,virginica,125,6.7,3.3,5.7,2.1
125,3,virginica,126,7.2,3.2,6.0,1.8
126,3,virginica,127,6.2,2.8,4.8,1.8
127,3,virginica,128,6.1,3.0,4.9,1.8
128,3,virginica,129,6.4,2.8,5.6,2.1
129,3,virginica,130,7.2,3.0,5.8,1.6
130,3,virginica,131,7.4,2.8,6.1,1.9
131,3,virginica,132,7.9,3.8,6.4,2.0
132,3,virginica,133,6.4,2.8,5.6,2.2
133,3,virginica,134,6.3,2.8,5.1,1.5
134,3,virginica,135,6.1,2.6,5.6,1.4
135,3,virginica,136,7.7,3.0,6.1,2.3
136,3,virginica,137,6.3,3.4,5.6,2.4
137,3,virginica,138,6.4,3.1,5.5,1.8
138,3,virginica,139,6.0,3.0,4.8,1.8
139,3,virginica,140,6.9,3.1,5.4,2.1
140,3,virginica,141,6.7,3.1,5.6,2.4
141,3,virginica,142,6.9,3.1,5.1,2.3
142,3,virginica,143,5.8,2.7,5.1,1.9
143,3,virginica,144,6.8,3.2,5.9,2.3
144,3,virginica,145,6.7,3.3,5.7,2.5
145,3,virginica,146,6.7,3.0,5.2,2.3
146,3,virginica,147,6.3,2.5,5.0,1.9
147,3,virginica,148,6.5,3.0,5.2,2.0
148,3,virginica,149,6.2,3.4,5.4,2.3
149,3,virginica,150,5.9,3.0,5.1,1.8

In [140]:
iris = iris.drop(columns=['species_id', 'measurement_id'])

In [141]:
iris = iris.rename(columns={'species_name':'species'})

In [142]:
iris_dummies = pd.get_dummies(iris['species']).astype('int')

In [143]:
iris = pd.concat([iris, iris_dummies], axis=1)

In [144]:
def prep_iris():
    '''
    Pulls and prepares iris data. Drops a few columns, alters name of 'species' column and adds an additional number
    value associated by species type.
    '''

    iris = acquire.get_iris_data('iris_db')
    iris = iris.drop(columns=['species_id', 'measurement_id'])
    iris = iris.rename(columns={'species_name':'species'})
    iris_dummies = pd.get_dummies(iris['species']).astype('int')
    iris = pd.concat([iris, iris_dummies], axis=1)
    return iris

### 1. Use the function defined in acquire.py to load the Titanic data.
2. Drop any unnecessary, unhelpful, or duplicated columns.

3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

4. Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [145]:
titanic = acquire.get_titanic_data('titanic_db')

In [146]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  891 non-null    int64
 1   survived      891 non-null    int64
 2   pclass        891 non-null    int64
 3   sex           891 non-null    object
 4   age           714 non-null    float64
 5   sibsp         891 non-null    int64
 6   parch         891 non-null    int64
 7   fare          891 non-null    float64
 8   embarked      889 non-null    object
 9   class         891 non-null    object
 10  deck          203 non-null    object
 11  embark_town   889 non-null    object
 12  alone         891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

In [147]:
# drop deck, embark_town, class
titanic = titanic.drop(columns=['class','embark_town','deck'])

In [148]:
titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,alone
0,0,0,3,male,22.0,1,0,7.2500,S,0
1,1,1,1,female,38.0,1,0,71.2833,C,0
2,2,1,3,female,26.0,0,0,7.9250,S,1
3,3,1,1,female,35.0,1,0,53.1000,S,0
4,4,0,3,male,35.0,0,0,8.0500,S,1

In [149]:
dummy_sex = pd.get_dummies(titanic['sex'], drop_first=True).astype(int)

In [150]:
dummy_embarked = pd.get_dummies(titanic[['embarked']]).astype(int)

In [154]:
dummy = pd.concat([dummy_sex,dummy_embarked], axis = 1)

In [155]:
titanic = pd.concat([titanic,dummy], axis=1)

In [156]:
def prep_titanic():
    '''
    Pulls data from mySql db and assigns as titanic.
    This function will drop duplicate columns and encode the rest of the categorical columns.
    '''
    titanic = acquire.get_titanic_data('titanic_db')
    titanic = titanic.drop(columns=['class','embark_town','deck'])
    dummy_sex = pd.get_dummies(titanic['sex'], drop_first=True).astype(int)
    dummy_embarked = pd.get_dummies(titanic[['embarked']]).astype(int)
    dummy = pd.concat([dummy_sex,dummy_embarked], axis = 1)
    titanic = pd.concat([titanic,dummy], axis=1)
    return titanic

Using the Telco dataset

1. Use the function defined in acquire.py to load the Telco data.

2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

4. Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [158]:
telco = acquire.get_telco_data('telco_churn')

In [159]:
telco.head()

,customer_id,gender,senior_citizen,partner,dependents,customer_id,phone_service,multiple_lines,internet_service_type_id,online_security,...,payment_type,customer_id,contract_type_id,paperless_billing,contract_type_id,contract_type,customer_id,churn_month,customer_id,signup_date
0,0002-ORFBO,Female,0,Yes,Yes,0002-ORFBO,Yes,No,1,No,...,Mailed check,0002-ORFBO,2,Yes,2,One year,None,None,0002-ORFBO,2021-04-21 18:07:34
1,0003-MKNFE,Male,0,No,No,0003-MKNFE,Yes,Yes,1,No,...,Mailed check,0003-MKNFE,1,No,1,Month-to-month,None,None,0003-MKNFE,2021-04-21 18:07:34
2,0004-TLHLJ,Male,0,No,No,0004-TLHLJ,Yes,No,2,No,...,Electronic check,0004-TLHLJ,1,Yes,1,Month-to-month,0004-TLHLJ,2022-01-31,0004-TLHLJ,2021-09-21 18:07:34
3,0011-IGKFF,Male,1,Yes,No,0011-IGKFF,Yes,No,2,No,...,Electronic check,0011-IGKFF,1,Yes,1,Month-to-month,0011-IGKFF,2022-01-31,0011-IGKFF,2020-12-21 18:07:34
4,0013-EXCHZ,Female,1,Yes,No,0013-EXCHZ,Yes,No,2,No,...,Mailed check,0013-EXCHZ,1,Yes,1,Month-to-month,0013-EXCHZ,2022-01-31,0013-EXCHZ,2021-10-21 18:07:34

In [160]:
telco = telco.drop_duplicates()

,customer_id,gender,senior_citizen,partner,dependents,customer_id,phone_service,multiple_lines,internet_service_type_id,online_security,...,payment_type,customer_id,contract_type_id,paperless_billing,contract_type_id,contract_type,customer_id,churn_month,customer_id,signup_date
0,0002-ORFBO,Female,0,Yes,Yes,0002-ORFBO,Yes,No,1,No,...,Mailed check,0002-ORFBO,2,Yes,2,One year,None,None,0002-ORFBO,2021-04-21 18:07:34
1,0003-MKNFE,Male,0,No,No,0003-MKNFE,Yes,Yes,1,No,...,Mailed check,0003-MKNFE,1,No,1,Month-to-month,None,None,0003-MKNFE,2021-04-21 18:07:34
2,0004-TLHLJ,Male,0,No,No,0004-TLHLJ,Yes,No,2,No,...,Electronic check,0004-TLHLJ,1,Yes,1,Month-to-month,0004-TLHLJ,2022-01-31,0004-TLHLJ,2021-09-21 18:07:34
3,0011-IGKFF,Male,1,Yes,No,0011-IGKFF,Yes,No,2,No,...,Electronic check,0011-IGKFF,1,Yes,1,Month-to-month,0011-IGKFF,2022-01-31,0011-IGKFF,2020-12-21 18:07:34
4,0013-EXCHZ,Female,1,Yes,No,0013-EXCHZ,Yes,No,2,No,...,Mailed check,0013-EXCHZ,1,Yes,1,Month-to-month,0013-EXCHZ,2022-01-31,0013-EXCHZ,2021-10-21 18:07:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9979-RGMZT,Female,0,No,No,9979-RGMZT,Yes,No,2,No,...,Mailed check,9979-RGMZT,2,Yes,2,One year,None,None,9979-RGMZT,2021-06-21 18:07:34
7039,9985-MWVIX,Female,0,No,No,9985-MWVIX,Yes,No,2,No,...,Mailed check,9985-MWVIX,1,Yes,1,Month-to-month,9985-MWVIX,2022-01-31,9985-MWVIX,2021-12-21 18:07:34
7040,9986-BONCE,Female,0,No,No,9986-BONCE,Yes,No,3,No internet service,...,Bank transfer (automatic),9986-BONCE,1,No,1,Month-to-month,9986-BONCE,2022-01-31,9986-BONCE,2021-09-21 18:07:34
7041,9992-UJOEL,Male,0,No,No,9992-UJOEL,Yes,No,1,No,...,Mailed check,9992-UJOEL,1,Yes,1,Month-to-month,None,None,9992-UJOEL,2021-11-21 18:07:34
7042,9995-HOTOH,Male,0,Yes,Yes,9995-HOTOH,No,No phone service,1,Yes,...,Electronic check,9995-HOTOH,3,No,3,Two year,None,None,9995-HOTOH,2016-10-21 18:07:34

In [162]:
# removing duplicate columns
telco = telco.loc[:,~telco.columns.duplicated()].copy()

In [ ]:
# must be changed so that 'no phone/internet service will populate as no'
# ['multiple_lines'],['online_security'],['online_backup'], payment_type,contract_type

In [209]:
dummy_df = pd.get_dummies(telco[['partner','dependents','phone_service','paperless_billing','gender',
                                'multiple_lines','online_security','online_backup','payment_type',
                                'contract_type', 'tech_support','streaming_tv','streaming_movies','device_protection']],dtype=int,drop_first=True)

telco = pd.concat([telco, dummy_df], axis=1)
telco

,customer_id,gender,senior_citizen,partner,dependents,phone_service,multiple_lines,internet_service_type_id,online_security,online_backup,...,contract_type_One year,contract_type_Two year,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,device_protection_No internet service,device_protection_Yes
0,0002-ORFBO,Female,0,Yes,Yes,Yes,No,1,No,Yes,...,1,0,0,1,0,1,0,0,0,0
1,0003-MKNFE,Male,0,No,No,Yes,Yes,1,No,No,...,0,0,0,0,0,0,0,1,0,0
2,0004-TLHLJ,Male,0,No,No,Yes,No,2,No,No,...,0,0,0,0,0,0,0,0,0,1
3,0011-IGKFF,Male,1,Yes,No,Yes,No,2,No,Yes,...,0,0,0,0,0,1,0,1,0,1
4,0013-EXCHZ,Female,1,Yes,No,Yes,No,2,No,No,...,0,0,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9979-RGMZT,Female,0,No,No,Yes,No,2,No,Yes,...,1,0,0,0,0,1,0,1,0,0
7039,9985-MWVIX,Female,0,No,No,Yes,No,2,No,No,...,0,0,0,0,0,0,0,0,0,0
7040,9986-BONCE,Female,0,No,No,Yes,No,3,No internet service,No internet service,...,0,0,1,0,1,0,1,0,1,0
7041,9992-UJOEL,Male,0,No,No,Yes,No,1,No,Yes,...,0,0,0,0,0,0,0,0,0,0
7042,9995-HOTOH,Male,0,Yes,Yes,No,No phone service,1,Yes,Yes,...,0,1,0,0,0,1,0,1,0,1

In [210]:
telco = telco.drop(columns=['partner','dependents','phone_service','multiple_lines','online_security',
                    'online_backup','streaming_tv','streaming_movies','online_security_No internet service',
                    'online_security_No internet service','online_backup_No internet service',
                    'tech_support_No internet service','streaming_tv_No internet service','streaming_movies_No internet service','device_protection_No internet service',
                    'tech_support','device_protection'])

In [212]:
def prep_telco():
    '''
    Pulls data from mySql server and drops duplicate columns and values (keeps 1 of needed)
    encodes all categorical data and drops columns that are unnecessary as a by product of 
    new dummy columns.
    '''
    telco = acquire.get_telco_data('telco_churn')
    telco = telco.drop_duplicates()
    # removing duplicate columns
    telco = telco.loc[:,~telco.columns.duplicated()].copy()
    dummy_df = pd.get_dummies(telco[['partner','dependents','phone_service','paperless_billing','gender',
                                'multiple_lines','online_security','online_backup','payment_type',
                                'contract_type', 'tech_support','streaming_tv','streaming_movies','device_protection']],dtype=int,drop_first=True)

    telco = pd.concat([telco, dummy_df], axis=1)
    telco = telco.drop(columns=['partner','dependents','phone_service','multiple_lines','online_security',
                    'online_backup','streaming_tv','streaming_movies','online_security_No internet service',
                    'online_security_No internet service','online_backup_No internet service',
                    'tech_support_No internet service','streaming_tv_No internet service','streaming_movies_No internet service','device_protection_No internet service',
                    'tech_support','device_protection'])
    return telco